.uri-countdown {
	background: #efefef;
	margin-bottom: 2rem;
	padding: .75rem 1.5rem;
}

.time-left {
}

.time-left-number, .time-left-event {
}

.time-left-number {
	font-family: "Rubik",Hind,Arial,sans-serif;
}

.time-left-unit {
}