@keyframes reveal-countdown {
	from { opacity: 0; transform: translateY(-20px); }
	to { opacity: 1; transform: translateY(0px); }
}

.uri-countdown {
	position: relative;
	box-sizing: border-box;
	margin-bottom: 2rem;
	padding: .75rem 2rem;
	background: #002147;
	border-radius: 3px;
	color: #fff;
	text-align: center;
	font-family: "Hind", "Arial", sans-serif;
	opacity: 0;
	transform: translateY(-20px);
	animation-name: reveal-countdown;
	animation-duration: 1s;
	animation-delay: .5s;
	animation-fill-mode: forwards;
	animation-timing-function: ease-in-out;
}

.uri-countdown a {
	color: #fff;
}

.uri-countdown a:hover, .uri-countdown a:focus {
	text-decoration: underline;
}

.time-left {
	color: #ffca07;
}

.time-left-number, .time-left-event {
}

.time-left-number {
	font-family: "Rubik",Hind,Arial,sans-serif;
}

.uri-countdown.dismissed {
	display: none;
}

.uri-countdown .dismiss {
	position: absolute;
	right: .75rem;
	top: .75rem;
	width: 0;
	height: 0;
	overflow: hidden;
	padding-left: 16px;
	padding-bottom: 16px;
	opacity: .5;
	background-image: url(../i/dismiss.jpg);
	background-position: center center;
	background-size: 100% auto;
	background-repeat: no-repeat;
	border-radius: 8px;
	transition: opacity .2s ease-in-out;
}

.uri-countdown .dismiss:hover {
	opacity: 1;
	cursor: pointer;
}

.uri-countdown.overlay {
	background: rgba(0,0,0,.3);
	margin-bottom: 0;
	position: absolute;
	top: 8px;
	left: 25px;
	width: calc( 100% - 50px );
	z-index: 10;
	border-radius: 4px;
	color: #fff;
	font-size: .9rem;
	text-align: center;
	border: 1px solid rgba(255,255,255,.3);
}

@supports (backdrop-filter: initial) or (-webkit-backdrop-filter: initial) {
	.uri-countdown.overlay {
		-webkit-backdrop-filter: blur(20px) saturate(150%);
		backdrop-filter: blur(20px) saturate(150%);
		background: rgba(0,0,0,.4)
	}
}

@media screen and (min-width:600px) {
	.uri-countdown.overlay {
		top: 50px;
		font-size: 1rem;
	}
}
@media screen and (min-width:1050px) {
	.uri-countdown.overlay {
		width: 1000px;
		left: calc( 50% - 500px );
		font-size: 1.1rem;
	}
}
